<template>
  <div>
    <button @click='changeShow'>过渡切换效果</button>
    <transition name='xiaomi' appear>
      <h1 v-show='isShow'>你好啊，小米</h1>
    </transition>
  </div>
</template>

<script>
// 使用过渡效果
export default {
  name: 'Test1',
  data() {
    return {
      isShow: true,
    }
  },
  methods: {
    changeShow() {
      this.isShow = !this.isShow
    }
  }
}
</script>

<style>

  h1 {
    /* transition: 1s linear; */
  }
  /* .xiaomi-enter {
    transform: translateX(-100%);
  }
  .xiaomi-enter-to {
    transform: translateX(0);
  }
  .xiaomi-leave {
    transform: translateX(0);
  }
  .xiaomi-leave-to {
    transform: translateX(-100%);
  } */

  .xiaomi-enter,.xiaomi-leave-to {
    transform: translateX(-100%);
  }
  .xiaomi-enter-active,.xiaomi-leave-active {
    transition: 1s linear;
  }
  .xiaomi-enter-to,.xiaomi-leave {
    transform: translateX(0);
  }
</style>