<template>
  <div>
    <button @click='changeGroup'>改变group</button>
    <transition-group 
      appear
      name='animate__animated animate__bounce'
      enter-active-class='animate__rubberBand'
      leave-active-class='animate__backOutUp'>
      <h1 v-show='isShow' :key='1'>animate1</h1>
      <h1 v-show='isShow' :key='2'>animate2</h1>
      <h1 v-show='isShow' :key='3'>animate3</h1>
    </transition-group>
  </div>
</template>

<script>
import 'animate.css';
export default {
  name: 'Test2',
  data() {
    return {
      isShow: true,
    }
  },
  methods: {
    changeGroup() {
      this.isShow = !this.isShow
    }
  }
}
</script>

<style>

</style>