<template>
  <div>
    <button @click='clickShow'>显示或隐藏</button>
    <!-- <h1 v-show='isShow' class='to'>你好</h1> -->

    <transition>
      <h1 v-show='isShow'>你好</h1>
    </transition>

    <transition name='name' appear>
      <h1 v-show='isShow' >xiaomi</h1>
    </transition>
  </div>
</template>


<script>
// 使用动画效果
export default {
  name: 'Test',
  data() {
    return {
      isShow: true,

    }
  },
  methods: {
    clickShow() {
      this.isShow = !this.isShow
    }
  }
}
</script>

<style>
  h1 {
    background: darkorange;
    color: blue
  }

  .v-enter-active {
    animation: transiyionDemo 1s;
  }

  .v-leave-active {
    animation: transiyionDemo 1s reverse;
  }

  .name-enter-active {
    animation: transiyionDemo linear 1s;
  }

  .name-leave-active {
    animation: transiyionDemo linear 1s reverse;
  }

  @keyframes transiyionDemo {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(100px);
    }
  }
</style>