<template>
  <div>
    <button @click='changeGroup'>改变group</button>
    <transition-group name='group' appear>
      <h1 v-show='isShow' :key='1'>group1</h1>
      <h1 v-show='isShow' :key='2'>group2</h1>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: 'Test2',
  data() {
    return {
      isShow: true,
    }
  },
  methods: {
    changeGroup() {
      this.isShow = !this.isShow
    }
  }
}
</script>

<style>
  .group-enter, .group-leave-to {
    transform: translateX(-100%);
  }
  .group-enter-active, .group-leave-active {
    transition: 1s linear;
  }
  .group-leave, .group-enter-to {
    transform: translateX(0);
  }
</style>