<template>
  <div id="app">
    <!-- 头部 -->
    <navigation 
      :itemsClassification='itemsClassification'
      :location='location'
      :icon='icon'
      :temperature='temperature'
      :level='level'>
    </navigation>
    <!-- 搜索部分 -->
    <search></search>
    <!-- 左侧 -->
    <container></container>
    <!-- 右侧 -->
    <hotSearch></hotSearch>
  </div>
</template>

<script>
import Navigation from './components/Navigation'
import Container from './components/Container.vue'
import HotSearch from './components/HotSearch.vue'
import Search from './components/Search.vue'
export default {
  name: 'App',
  components: {
    Navigation,
    Container,
    HotSearch,
    Search,
  },
  data() {
    return {
      itemsClassification: [
        '新闻', 'hao123','地图', '贴吧', '视频', '图片', '网盘', '更多'
      ],
      location: '北京',
      icon: 'https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/weather/icons/a0.png',
      temperature: 4,
      level: '优',
    }
  }
}
</script>

<style>

</style>
