<template>
  <div class="row">
    <div v-show='info.users.length' class="card" v-for="item in info.users" :key='item.login'>
      <!-- item:{{item}} -->
      <a :href="item.html_url" target="_blank">
        <img :src="item.avatar_url" style='width: 100px'/>
      </a>
      <p class="card-text">{{ item.login }}</p>
    </div>
    <div v-show='info.isFirst'>欢迎使用</div>
    <div v-show='info.isLoading'>加载中...</div>
    <div v-show='info.errMsg'>{{ info.errMsg }}</div>
  </div>
</template>

<script>
export default {
  name: 'List',
  data() {
    return {
      info: {
        isFirst: true,
        isLoading: false,
        errMsg: '',
        users: [],
      },
    }
  },
  mounted() {
    this.$bus.$on('sendListInfo', this.getListInfo)
  },
  beforeDestroy() {
    this.$bus.$off('sendListInfo')
  },
  methods: {
    getListInfo(receive_list) {
      this.info = receive_list
      //  模板字面量
      this.info = {...this.info, ...receive_list}
    }
  }
}
</script>

<style>

</style>