<template>
  <div>
    <section class="jumbotron">
      <h3 class="jumbotron-heading">Search Github Users</h3>
      <div>
        <input 
          type="text" 
          placeholder="enter the name you search"
          v-model='searchText'/>&nbsp;
          <button @click='clickSearch'>Search</button>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Search',
  data() {
    return {
      searchText: '',
    }
  },
  methods: {
    clickSearch() {
      this.$bus.$emit('sendListInfo', {isFirst: false, isLoading: true, errMsg: '', users: []})
      axios.get(`https://api.github.com/search/users?q=${this.searchText}`).then(
        response => {
          console.log('成功接收数据：', response.data.items);
          this.$bus.$emit('sendListInfo', { errMsg: '', isLoading: false, users: response.data.items})
        },
        error => {
          console.log('接收数据失败：', error.message);
          this.$bus.$emit('sendListInfo', {isLoading: false, errMsg: error.message, users: []})
        }
      )
    }
  }
}
</script>

<style>

</style>