<template>
  <div id="app">
    <!-- <my-header :addTodoHeader='addTodoHeader'></my-header> -->
    <my-header @addTodoHeader='addTodoHeader'></my-header>
    <!-- <my-list :todos='todos' :changeDoneStatus='changeDoneStatus' :deleteId='deleteId'></my-list> -->
    <!-- 使用全局事件总线 -->
    <my-list :todos='todos'></my-list>
    <!-- <my-footer :todos='todos' :reverseItem='reverseItem' :clearSelectTask='clearSelectTask'></my-footer> -->
    <my-footer :todos='todos' @reverseItem='reverseItem' @clearSelectTask='clearSelectTask'></my-footer>
  </div>
</template>

<script>
import MyHeader from './components/MyHeader.vue'
import MyList from './components/MyList.vue'
import MyFooter from './components/MyFooter.vue'
export default {
  name: 'App',
  components: {
    MyHeader,
    MyList,
    MyFooter,
  },
  data() {
    return {
      todos: [
        {id: '001', hobby: '抽烟', done: true},
        {id: '002', hobby: '喝酒', done: false},
        {id: '003', hobby: '烫头', done: false},
        {id: '004', hobby: '打球', done: true},
      ]
    }
  },
  
  methods: {
    // 由header组件添加元素到mylist组件
    addTodoHeader(todo) {
      // console.log('触发了：', todo);
      this.todos.unshift(todo)

    },
    // 改变done的状态
    changeDoneStatus(id) {
      this.todos.forEach(todo => {
        if(id === todo.id) {
          todo.done = !todo.done
        }
      });
    },
    // 删除item
    deleteId(id) {
      this.todos = this.todos.filter((todo) => id !== todo.id)
    },
    // 全选或全不选
    reverseItem(done) {
      this.todos.forEach((todo) => {
        todo.done = done
      })
    },
    // 清除已选定的任务
    clearSelectTask() {
      this.todos = this.todos.filter((todo) => {
        return !todo.done
      })
    },
  },
  mounted() {
    this.$bus.$on('selectIdBus', this.reverseItem)
    this.$bus.$on('removeItemBus', this.clearSelectTask)
  },
  beforeDestroy() {
    this.$bus.$off('selectIdBus')
    this.$bus.$off('removeItemBus')
  },
}
</script>

<style>
  body {
    background: #fff;
  }

  .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  .btn-danger {
    color: #fff;
    background-color: #da4f49;
    border: 1px solid #bd362f;
  }

  .btn-danger:hover {
    color: #fff;
    background-color: #bd362f;
  }

  .btn:focus {
    outline: none;
  }

  .todo-container {
    width: 600px;
    margin: 0 auto;
  }
  .todo-container .todo-wrap {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
</style>
