<template>
  <div id="app">
    
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
    
  },
  data() {
    return {
      
    }
  },
  methods: {
    
  },
  mounted() {
    
  }
}
</script>

<style>
  #app {
    text-align: center;
  }
  .margin-left {
    margin-left: 20px
  }
</style>
