<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <input type="text" v-model='searchText'>
    <!-- watch写法 -->
    <!-- <ul>
      <li v-for="item in filterList" :key='item.id'>
        {{ item.name }}--{{ item.age }}--{{ item.sex }}
      </li>
    </ul> -->

    <!-- computed写法 -->
    <ul>
      <li v-for="item in filterList" :key='item.id'>
        {{ item.name }}--{{ item.age }}--{{ item.sex }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          searchText: '',
          list: [
            {
              id: 001,
              name: '马冬梅',
              age: 18,
              sex: '女'
            },
            {
              id: 002,
              name: '周杰伦',
              age: 19,
              sex: '男'
            },
            {
              id: 003,
              name: '周冬雨',
              age: 20,
              sex: '女'
            },
            {
              id: 004,
              name: '温兆伦',
              age: 21,
              sex: '男'
            },
          ],
          // filterList: [],
        }
      },
      // watch: {
      //   searchText: {
      //     immediate: true,
      //     handler(value) {
      //       this.filterList = this.list.filter(item => {
      //         return item.name.indexOf(value) !== -1
      //       })
      //     }
      //   }
      // },
      computed: {
        filterList() {
          return this.list.filter(item => {
            return item.name.indexOf(this.searchText) !== -1
          })
        }
      }
    })
  </script>
</body>
</html>