<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <input type="text" placeholder="模糊搜索" v-model='keyWords'>
    <!-- compued过滤 -->
    <ul>
      <li v-for="item in searchWord" :key='item.id'>
        {{ item.name }}---{{ item.age }}---{{ item.sex }}
      </li>
    </ul>
    <!-- watch过滤 -->
    <ul>
      <li v-for="item in filterList" :key='item.id'>
        {{ item.name }}---{{ item.age }}---{{ item.sex }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        keyWords: '',
        list: [
          {id: 0, name: '马冬梅', age: 18, sex: '女'},
          {id: 1, name: '周冬雨', age: 19, sex: '女'},
          {id: 2, name: '周杰伦', age: 20, sex: '男'},
          {id: 3, name: '温兆伦', age: 21, sex: '男'},
        ],
        filterList: [],
      },
      computed: {
        searchWord() {
          return this.list.filter(item => {
            // console.log(item.name.indexOf(this.keyWords));
            return item.name.indexOf(this.keyWords) !== -1
          })
        }
      },
      // watch: {
      //   keyWords: {
      //     immediate: true,
      //     handler(val) {
      //       this.filterList = this.list.filter(item => {
      //         return item.name.indexOf(val) !== -1
      //       })
      //     }
      //   }
      // }
    })
  </script>
</body>
</html>