<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <!-- 遍历数组 -->
    <ul>
      <button @click='addName()'>添加一个人名</button>
      <!-- :key='index'与不写都会错位，:key='item.id'正常 -->
      <li v-for="(item, index) in person" :key='item.id'>
        姓：{{ item.name }}
        名: {{ item.age }}
        <input type="text">
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        person: [
          {id: '001', name: 'zhangsan', age: 18},
          {id: '002', name: 'lisi', age: 19},
          {id: '003', name: 'wangwu', age: 20},
        ],
      },
      methods: {
        addName() {
          this.person.unshift({id: '004', name: 'zhaoliu', age: 21})
        }
      }
    })
  </script>
</body>
</html>