<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <!-- 遍历数组 -->
    <ul>
      <li v-for="(item, index) in person" :key='index'>
        姓：{{ item.name }}
        名: {{ item.age }}
      </li>
    </ul>
    <!-- 遍历对象 -->
    <ol>
      <li v-for="(value, key) in car" :key='key'>
        value: {{ value }}
        key: {{ key }}
      </li>
    </ol>
    <!-- 遍历字符串 -->
    <ul>
      <li v-for="(value, index) in str" :key='index'>
        value: {{ value }}
        index: {{ index }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        person: [
          {name: 'zhangsan', age: 18},
          {name: 'lisi', age: 19},
          {name: 'wangwu', age: 20},
        ],
        car: {
          price: 80,
          color: 'black',
          name: 'aodi',
        },
        str: 'beijing'
      },
      methods: {
        
      }
    })
  </script>
</body>
</html>