<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    搜索<input type="text" v-model='searchText'>
    <button @click='sortType = 1'>升序</button>
    <button @click='sortType = 2'>降序</button>
    <button @click='sortType = 0'>原状</button>
    <ul>
      <li v-for="item in filterList" :key='item.id'>
        {{ item.name }}--{{ item.age }}--{{ item.sex }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          list: [
            {id: 0, name: '马冬梅', age: 28, sex: '女'},
            {id: 1, name: '周冬雨', age: 19, sex: '女'},
            {id: 2, name: '周杰伦', age: 30, sex: '男'},
            {id: 3, name: '温兆伦', age: 21, sex: '男'},
          ],
          // filterList: [],
          searchText: '',
          sortType: 0, //0表示保持原状，1表示升序，2表示降序
        }
      },
      computed: {
        filterList() {
          let arr = this.list.filter(item => {
            return item.name.indexOf(this.searchText) !== -1
          })
          arr.sort((a, b) => {
            if(this.sortType) {
              return this.sortType === 2 ? b.age - a.age : a.age - b.age
            }
          })
          return arr
        }
      }
    })
  </script>
</body>
</html>