<template>
  <div class='main'>
    <h3>分类：{{title}}</h3>
    <!-- <ul>
      <li v-for="(list, index) in listData" :key='index'>
        {{ list }}
      </li>
    </ul> -->
    <slot>没数据时显示</slot>
  </div>
</template>

<script>
export default {
  name: 'Category',
  props: ['title', 'listData'],

}
</script>

<style>
.main {
  background: cornflowerblue;
  text-align: center;
}
  h3 {
    text-align: center;
  }
</style>