<template>
  <div>
    <div class="todo-footer" v-show='total'>
      <label>
        <!-- <input type="checkbox" @click='selectAllOrNot'/> -->
        <input type="checkbox" v-model='isAll'/>
      </label>
      <span>
        <span>已完成{{ hasFinished }}</span> / 全部{{ total }}
      </span>
      <button class="btn btn-danger" @click='clearTask'>清除已完成任务</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MyFooter',
  props: ['todos', 'selectAll', 'clearAllTodos'],
  data() {
    return {

    }
  },
  methods: {
    selectAllOrNot(e) {
      // console.log('e:', e.target.checked);
      this.selectAll(e.target.checked)
    },
    clearTask() {
      console.log('clearTask');
      this.clearAllTodos()
    }
  },
  computed: {
    hasFinished() {
      // 方法1：for循环统计
      // let i = 0
      // this.todos.forEach(todo => {
      //   if(todo.done) {
      //     i++
      //   }
      // });
      // return i

      // 方法2：reduce方法
      // return this.todos.reduce((pre, cur) => {
      //   return pre + (cur.done ? 1 : 0)
      // }, 0)

      // reduce简写
      return this.todos.reduce((pre, cur) => {return pre + (cur.done ? 1 : 0)}, 0)
    },
    total() {
      return this.todos.length
    },
    isAll: {
      get() {
        return this.hasFinished === this.total && this.total > 0
      },
      set(value) {
        this.selectAll(value)
      }
    }
  }
}
</script>

<style scoped>
  .todo-footer {
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    margin-top: 5px;
  }

  .todo-footer label {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }

  .todo-footer label input {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .todo-footer button {
    float: right;
    margin-top: 5px;
  }
</style>