<template>
  <div>
    <transition name='group' appear>
      <li>
        <label>
          <input type="checkbox" :checked='todo.done' @click='selectId(todo.id)'/>
          <!-- <input type="checkbox"  v-model='todo.done'/> -->
          <span v-show='!todo.isEdit'>{{ todo.hobby }}</span>
          <input 
            type="text"
            v-show='todo.isEdit' 
            ref='inputRef'
            :value='todo.hobby'
            @keyup.enter='handlerBlur(todo, $event)'
            @blur.enter='handlerBlur(todo, $event)'>
        </label>
        <button class="btn btn-danger" @click='handlerDelete(todo.id)'>删除</button>
        <button v-show='!todo.isEdit' class="btn btn-edit" @click='handlerDdit(todo)'>编辑</button>
      </li>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'MyItem',
  props: ['todo', 'reverseId', 'deleteId'],
  data() {  ``
    return {
      
    }
  },
  mounted() {
    // this.$refs.inputRef.focus()
  },
  methods: {
    selectId(id) {
      // console.log('id:', id);
      this.reverseId(id)
    },
    // 删除
    handlerDelete(id) {
      // console.log('id:', id);
      // if(confirm('确定删除吗？')) {
        this.deleteId(id)
      // }
    },
    // 编辑
    handlerDdit(todo) {
      if(Object.prototype.hasOwnProperty.call(todo, "isEdit")) {
        todo.isEdit = true
        console.log('11111');
      } else {
        this.$set(todo, 'isEdit', true)
      }
      // 方法1：使用定时器
      // setTimeout(() => {
      //   this.$refs.inputRef.focus()
      // }, 100);
      // 方法2：使用nextTick
      this.$nextTick(() => {
        this.$refs.inputRef.focus()
      })

      // console.log('todo:', todo);
    },
    // 处理失去焦点的逻辑
    handlerBlur(todo, e) {
      todo.isEdit = false
      if(!e.target.value) {
        alert('输入不能为空')
      } else{
        this.$bus.$emit('handlerBlurEvent', todo.id, e.target.value)
      }
      // console.log(todo.id, e.target.value);
      
    }
  }
}
</script>

<style scoped>
  li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
  }

  li label {
    float: left;
    cursor: pointer;
  }

  li label li input {
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
  }

  li button {
    float: right;
    display: none;
    margin-top: 3px;
  }

  li:before {
    content: initial;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: #ddd;
  }

  li:hover button {
    display: block
  }

  .btn-danger {
    background: red;
  }

  .group-enter, .group-leave-to {
    transform: translateX(100%);
  }
  .group-enter-active, .group-leave-active {
    transition: 0.3s linear;
  }
  .group-leave, .group-enter-to {
    transform: translateX(0);
  }
</style>