<template>
  <div>
    <ul 
      class="todo-main" 
      v-for="todo in todos" 
      :key='todo.id'
      >
        <my-item :todo='todo' :reverseId='reverseId' :deleteId='deleteId'/>
    </ul>
  </div>
</template>

<script>
import MyItem from './MyItem.vue'
export default {
  name: 'MyList',
  props: ['todos', 'reverseId', 'deleteId'],
  components: {
    MyItem
  },
  methods: {
    
  }
}
</script>

<style scoped>
  .todo-main {
    margin-left: 0px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0px;
  }

  .todo-empty {
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding-left: 5px;
    margin-top: 10px;
  }
</style>