<template>
  <div>
    <p>学校名称：{{ schoolName }}</p>
    <p>学校年龄：{{ schoolAge }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      schoolName: 'xiaomi',
      schoolAge: 18,
    }
  }
}
</script>

<style>

</style>