<template>
  <div>
    学生姓名：{{ studentName }}
    学生年龄：{{ studentAge }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      studentName: 'zhangsan',
      studentAge: 21,
    }
  }
}
</script>

<style>

</style>