<template>
  <div id="app">
    <p>{{ msg }}</p>
    <!-- 通过父组件给子组件传递函数类型props实现通信，子给父传递参数 -->
    <school ref='schoolRef'>
      <button @click='getSchoolName2'>获取学校名</button>
    </school>
    <!-- 通过自定义事件实现子传父······· -->
    <student @getStudentName1='getStudentName11'/>
    <!-- 通过refs获取 -->
    <school :getSchoolAge='getSchoolAge' />
  </div>
</template>

<script>
import School from './components/School.vue'
import Student from './components/Student.vue'

export default {
  name: 'App',
  components: {
    School,
    Student
  },
  data() {
    return {
      msg: 'vue学习',
    }
  },
  methods: {
    // 子传父(通过函数的形式)
    getSchoolAge(age) {
      console.log('收到schoolAge:', age);
    },
    getStudentName11(value) {
      console.log('收到学生年龄：', value);
    },
    getSchoolName2() {
      let schoolObj = this.$refs.schoolRef
      console.log('学校年龄：', schoolObj.info.name);
    }
  },
  mounted() {
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
