<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <style>
    .basic {
      background:maroon;
      width: 100%;
      height: 50px;
    }
    .sad {
      background: darkgreen;
      width: 100%;
      height: 50px;
      border-radius: 20px;
    }
    .happy {
      background:darkorange;
      width: 100%;
      height: 50px;
      border-radius: 80px;
    }
    .normal {
      background:hotpink;
      width: 100%;
      height: 50px;
      border-color: mediumblue;
      border-width: 10px;
    }
  </style>
</head>
<body>
  <div id='app'>
    <div class='basic' :class='mode' @click='changeClass()'>{{ name }}</div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        name: '小米',
        mode: 'sad',
      },
      methods: {
        changeClass() {
          let arr = ['sad', 'happy', 'normal']
          let randomNumber = Math.random()*3
          let index = Math.floor(randomNumber)
          console.log('randomNumber:', randomNumber);
          console.log('index:', index);
          this.mode = arr[index]
        }
      }
    })
  </script>
</body>
</html>