<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <style>
    .basic {
      background:maroon;
      width: 100%;
      height: 50px;
      font-size: 10px;
    }
    .arrStyle1 {
      /* background: darkgreen; */
      /* width: 100%;
      height: 50px;
      border-radius: 20px; */
      font-size: 20px;
    }
    .arrStyle2 {
      /* background:darkorange; */
      /* width: 100%;
      height: 50px;
      border-radius: 80px; */
      font-size: 40px;
    }
    .arrStyle3 {
      /* background:hotpink; */
      width: 100%;
      height: 50px;
      border-color: mediumblue;
      border-width: 10px;
      font-size: 80px;
    }
  </style>
</head>
<body>
  <div id='app'>
    <div class='basic' :class='arrStyle' @click='changeClass()'>{{ name }}</div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        name: '小米',
        // mode: 'sad',
        arrStyle: ['arrStyle1', 'arrStyle2', 'arrStyle3'],
      },
      methods: {
      }
    })
  </script>
</body>
</html>