<template>
  <div class='student'>
    <p>学生姓名：{{ info.name }}</p>
    <p>学生年龄：{{ info.age }}</p>
    <button @click='getStudentName'>获取学生年龄</button>
  </div>
</template>

<script>
export default {
  name: 'Student',
  data() {
    return {
      info: {
        name: 'zhangsan',
        age: 19,
      }
    }
  },
  methods: {
    getStudentName() {
      this.$emit('getStudentName1', this.info.age)
    }
  }
}
</script>

<style>
  .student {
    /* height: 60px; */
    background: cadetblue;
  }
</style>