<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <button @click='n++'>点我+1</button>
    <div>n:{{ n }}</div>
    <div v-if='n === 1'>Angular</div>
    <div v-if='n === 1'>React</div>
    <div v-if='n === 3'>Vue</div>
    <hr>
    <button @click='n1++'>点我+1</button>
    <div>n1:{{ n1 }}</div>
    <div v-if='n1 === 1'>python</div>
    <div v-else-if='n1 === 1'>java</div>
    <div v-else-if='n1 === 3'>javascript</div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        n: 0,
        n1: 0,
      },
      methods: {
        
      }
    })
  </script>
</body>
</html>