<template>
  <div id="app">
    <my-header :addTodos='addTodos'/>
    <my-list :todos='todos' :reverseId='reverseId' :deleteId='deleteId'/>
    <my-footer :todos='todos' :selectAll='selectAll' :clearAllTodos='clearAllTodos'/>
    <hr>
    <button @click='getServerInfo'>devServer代理</button>
    <hr>
    <p style='text-align: center'>多个代理</p>
    <button @click='getStudentInfo'>获取学生信息</button>
    <button @click='getCarInfo'>获取汽车信息</button>
  </div>
</template>

<script>
import axios from 'axios'
import MyHeader from './components/MyHeader.vue'
import MyList from './components/MyList.vue'
import MyFooter from './components/MyFooter.vue'
export default {
  name: 'App',
  components: {
    MyHeader,
    MyList,
    MyFooter,
  },

  data(){
    return {
      todos: [
        {id: '001', hobby: '抽烟', done: true},
        {id: '002', hobby: '喝酒', done: false},
        {id: '003', hobby: '烫头', done: false},
        {id: '004', hobby: '打球', done: true},
      ]
      // todos: JSON.parse(localStorage.getItem('todos')) || []
      // todos: [],
    }
  },
  watch: {
    todos: {
      deep: true,
      handler(value) {
        localStorage.setItem('todos', JSON.stringify(value))
      }
    }
  },
  mounted() {
    this.$bus.$on('handlerBlurEvent', this.modifyTodo)
  },
  beforeDestroy() {
    this.$bus.$off('handlerBlurEvent')
  },
  methods: {
    addTodos(todoItem) {
      this.todos.unshift(todoItem)
    },
    reverseId(id) {
      this.todos.forEach(todo => {
        if(id === todo.id) {
          todo.done = !todo.done
        }
      });
    },
    // 删除按钮
    deleteId(id) {
      this.todos = this.todos.filter(todo => id !== todo.id)
    },
    // 全选或全不选
    selectAll(done) {
      this.todos.forEach((todo) => {
        todo.done = done
      })
    },
    // 清除已完成任务
    clearAllTodos() {
      this.todos = this.todos.filter((todo) => {
        return !todo.done
      })
    },
    // 修改hobby
    modifyTodo(id, modifyHobby) {
      this.todos.forEach((todo) => {
        if(id === todo.id) {
          todo.hobby = modifyHobby
        }
      })
    },

    // --------------------------------
    // 代理服务器
    getServerInfo() {
      axios.get('http://localhost:8080/students').then(
        response => {
          console.log('response:', response.data);
        },
        error => {
          console.log('error:', error.message);
        }
      )
    },
    // 代理多个路径
    getStudentInfo() {
      axios.get('http://localhost:8080/api/students').then(
        response => {
          console.log('数据请求成功了：', response.data);
        },
        error => {
          console.log('数据请求失败了：', error.message);
        }
      )
    },
    getCarInfo() {
      axios.get('http://localhost:8080/foo/cars').then(
        response => {
          console.log('数据请求成功了：', response.data);
        },
        error => {
          console.log('数据请求失败了：', error.message);
        }
      )
    }
  }
}
</script>

<style>
  /*base*/
  body {
    background: #fff;
  }

  .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  .btn-danger {
    color: #fff;
    background-color: #da4f49;
    border: 1px solid #bd362f;
  }

  .btn-edit {
    color: #fff;
    background-color:darkgrey;
    border: 1px solid #bd362f;
    margin-right: 5px;
  }

  .btn-danger:hover {
    color: #fff;
    background-color: #bd362f;
  }

  .btn:focus {
    outline: none;
  }

  .todo-container {
    width: 600px;
    margin: 0 auto;
  }
  .todo-container .todo-wrap {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
</style>
