<template>
  <div>
    <div class="todo-footer" v-show='total > 0'>
      <label>
        <input type="checkbox" @click='reverseSelect'/>
      </label>
      <span>
        <span>已完成{{ curNum }}</span> / 全部{{ total }}
      </span>
      <button class="btn btn-danger" @click='clearTask'>清除已完成任务</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MyFooter',
  // props: ['todos', 'reverseItem', 'clearSelectTask'],
  props: ['todos'],
  computed: {
    total() {
      return this.todos.length
    },
    curNum() {
      return this.todos.reduce((pre, cur) => {
        return pre + (cur.done ? 1 : 0)
      }, 0)
    }
  },
  methods: {
    reverseSelect(e) {
      // this.reverseItem(e.target.checked)
      this.$emit('reverseItem', e.target.checked)
    },
    clearTask() {
      // this.clearSelectTask()
      this.$emit('clearSelectTask')
    }
  }
}
</script>

<style>
  /*footer*/
  .todo-footer {
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    margin-top: 5px;
  }

  .todo-footer label {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }

  .todo-footer label input {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .todo-footer button {
    float: right;
    margin-top: 5px;
  }
</style>