<template>
  <div>
    <li>
      <label>
        <input type="checkbox" :checked='todo.done' @click='selectId(todo.id)'/>
        <span>{{ todo.hobby }}</span>
      </label>
      <button class="btn btn-danger" @click='removeItem(todo.id)'>删除</button>
    </li>
  </div>
</template>

<script>
export default {
  name: 'MyItem',
  props: ['todo', 'changeDoneStatus', 'deleteId'],
  data() {
    return {

    }
  },
  methods: {
    selectId(id) {
      // console.log('e:', e.target.checked);
      // this.changeDoneStatus(id)
      // 全局事件总线
      this.$bus.$emit('selectIdBus', id)
    },
    removeItem(id) {
      console.log('remove');
      // this.deleteId(id)
      this.$bus.$emit('removeItemBus', id)
    }
  }
}

</script>

<style>
  /*item*/
  li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
  }

  li label {
    float: left;
    cursor: pointer;
  }

  li label li input {
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
  }

  li button {
    float: right;
    display: none;
    margin-top: 3px;
  }

  li:before {
    content: initial;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: #ddd;
  }

  li:hover button {
    display: block
  }
</style>