<template>
  <div class='school'>
    <p>学校名称：{{ info.name }}</p>
    <p>学校年龄：{{ info.age }}</p>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'School',
  props: ['getSchoolAge'],
  data() {
    return {
      info: {
        name: 'xiaomi',
        age: 18,
      }
    }
  },
  methods: {
    getMessageFromStudent(msg) {
      console.log('msg:', msg);
    }
  },
  mounted() {
    this.$bus.$on('getFromStudent', this.getMessageFromStudent)
  },
  beforeDestroy() {
    this.$bus.$off('getFromStudent')
  },
}
</script>

<style>
  .school {
    /* height: 60px; */
    background: green;
  }
</style>