<template>
  <div>
    <my-item v-for="todo in todos" :key='todo.id' :todo='todo' :changeId='changeId'></my-item>
  </div>
</template>

<script>
import MyItem from './MyItem.vue'
export default {
  name: 'MyList',
  props: ['todos', 'changeId'],
  components: {
    MyItem  
  },
  data() {
    return {
      // todos: [
      //   {id: '001', hobby: '抽烟', done: true},
      //   {id: '002', hobby: '喝酒', done: false},
      //   {id: '003', hobby: '烫头', done: false},
      //   {id: '004', hobby: '打球', done: true},
      // ]
    }
  }
}
</script>

<style scoped>
  /*main*/
  .todo-main {
    margin-left: 0px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0px;
  }

  .todo-empty {
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding-left: 5px;
    margin-top: 10px;
  }
</style>