<template>
  <div>
    <div>学生姓名：{{ studentName }}</div>
    <div>学生年龄：{{ studentAge }}</div>
    <!-- <div>年龄+1 {{ setAge++ }}</div> -->
    <button @click='updateAge'>年龄+1</button>
    <div>更新年龄：{{ setAge }}</div>
  </div>
</template>

<script>
export default {
  props: {
    studentName: {
      type: String, 
      default: 'chengdu'},
    studentAge: {
      type: Number,
      require
    }
  },
  data() {
    return {
      // studentName: 'zhangsan',
      // studentAge: 21,
      setAge: this.studentAge
    }
  },
  methods: {
    updateAge() {
      this.setAge++
    }
  },
  
}
</script>

<style>

</style>