<template>
  <!-- <div>
    <h1 ref='h_ref'>学习vue</h1>
    <button @click="selectTab">点击选择标签</button>
    <school schoolName="tianjin" :schoolAge=24 ref='school_ref'></school>
    <hr>
    <student :studentName="studentName1" :studentAge="studentAge1" ref='student_ref'></student>
  </div> -->
  <div id="root">
    <div class="todo-container">
      <div class="todo-wrap">
        <my-header :addTodos='addTodos'></my-header>
        <my-list :todos='todos' :changeId='changeId'></my-list>
        <my-footer></my-footer>
      </div>
    </div>
  </div>
</template>

<script>
// import School from './components/School.vue'
// import Student from './components/Student.vue'

import MyHeader from './components/MyHeader.vue'
import MyList from './components/MyList.vue'
import MyFooter from './components/MyFooter.vue'
export default {
  components: {
    // School,
    // Student

    MyHeader,
    MyList,
    MyFooter,
  },
  methods: {
    selectTab() {
      // console.log('this.$refs.h_ref:', this.$refs.h_ref);
      // this.$refs.school_ref.schoolName = 'beijing'
      // this.$refs.student_ref.studentAge = 12
    },
    addTodos(todoItem) {
      // console.log('接收到x:', x);
      this.todos.unshift(todoItem)
    },
    changeId(id) {
      this.todos.forEach(todo => {
        if(id === todo.id) {
          todo.done = !todo.done
        }
      });
    }
  },
  data() {
    return {
      // studentName1: 'lisi',
      // studentAge1: 23
      todos: [
        {id: '001', hobby: '抽烟', done: true},
        {id: '002', hobby: '喝酒', done: false},
        {id: '003', hobby: '烫头', done: false},
        {id: '004', hobby: '打球', done: true},
      ]
    }
  },
  mounted() {
    const baseUrl = "https://www.fastmock.site/mock/561a6bfb0859a7475146558269681a03/api"
    this.$axios.get(`${baseUrl}/test`)
    .then((data) => {
      console.log('data:', data);
    })
  }
}
</script>

<style>
  /*base*/
body {
  background: #fff;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.btn-danger {
  color: #fff;
  background-color: #da4f49;
  border: 1px solid #bd362f;
}

.btn-danger:hover {
  color: #fff;
  background-color: #bd362f;
}

.btn:focus {
  outline: none;
}

.todo-container {
  width: 600px;
  margin: 0 auto;
}
.todo-container .todo-wrap {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
</style>