<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>原始值：{{ n }}</p>
      <p>获取焦点事件： <input type="text" v-fbind:value="n" /></p>
      <button @click="n++">点击+1并获取焦点</button>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data() {
          return {
            n: 1,
          };
        },
        directives: {
          fbind: {
            bind(element, binding) {
              element.value = binding.value * 12;
            },
            inserted(element, binding) {
              console.log("inserted");
              element.focus();
            },
            update(element, binding) {
              element.value = binding.value * 12;
              element.focus();
            },
          },
        },
      });
    </script>
  </body>
</html>
