<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <p v-text="n">原始值：{{ n }}</p>
      </div>
      <div>
        <p>放大10倍的值：<span v-big="n"></span></p>
      </div>
      <button @click="n++">点我放大10倍</button>
      <div>
        <p>乘11：<span v-mul="n"></span></p>
      </div>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data() {
          return {
            n: 1,
          };
        },
        directives: {
          big(element, binding) {
            element.innerText = binding.value * 10;
            // console.log("element:", element);
            // console.log("binding:", binding);
          },
          mul(element, binding) {
            element.innerText = binding.value * 11;
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
