<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../js/dayjs.min.js"></script>
  </head>

  <body>
    <div id="app">
      <p>时间戳：{{ currentTime }}</p>
      <!-- 方法实现 -->
      <p>格式化时间1：{{ formatDate1() }}</p>
      <p>格式化时间2：{{ formatDate2() }}</p>
      <!-- 计算属性实现 -->
      <p>格式化时间3：{{ formatDate3 }}</p>
      <!-- 过滤器实现 -->
      <p>格式化时间4：{{ currentTime | filterFormat}}</p>
      <!-- 过滤器实现-传递参数 -->
      <p>格式化时间5：{{ currentTime | filterFormat1('HH:mm:ss')}}</p>
      <!-- 串联过滤器 -->
      <p>格式化时间6：{{ currentTime | filterFormat | slice}}</p>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data() {
          return {
            currentTime: new Date().getTime(),
          };
        },
        methods: {
          formatDate1() {
            return dayjs(this.currentTime).format("YYYY-MM-DD HH:mm:ss");
          },
          formatDate2() {
            return dayjs(this.currentTime).format("YYYY-MM-DD");
          },
        },
        computed: {
          formatDate3() {
            return dayjs(this.currentTime).format("HH:mm:ss");
          },
        },
        filters: {
          filterFormat(value) {
            return dayjs(value).format("YYYY-MM-DD HH:mm:ss");
          },
          filterFormat1(value, content = "YYYY-MM-DD HH:mm:ss") {
            return dayjs(value).format(content);
          },
          slice(value) {
            return value.slice(0, 4);
          },
        },
      });
    </script>
  </body>
</html>
