<template>
  <div>
    <p>当前值：{{ count }}</p>
    <select v-model.number='n'>
      <option>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <button @click='increasement'>加1</button>
    <button @click='increasementOdd'>奇数+3</button>
    <button @click='increasementWait'>偶数等待+5</button>
  </div>
</template>

<script>
export default {
  name: 'Count',
  data() {
    return {
      n: 0,
      count: 0,
    }
  },
  methods: {
    increasement() {
      this.count++;
    },
    increasementOdd() {
      if(this.n % 2 !== 0) {
        this.count += 3
      }
    },
    increasementWait() {
      if(this.n % 2 === 0) {
        setTimeout(() => {
          this.count += 5
        }, 1000);
      }
    },
  }
}
</script>

<style>

</style>