<template>
  <div>
    <p>当前值：{{ sum }}</p>
    <p>10倍值：{{ bigSum }}</p>
    <p>我在{{ location }}学习{{ subject }}</p>
    <p style='color: red'>Person组件的总人数：{{ personList.length }}</p>
    <select v-model.number='n'>
      <option>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <button @click='increasement'>加1</button>
    <button @click='decreasement'>减1</button>
    <button @click='increasementOdd'>奇数相加</button>
    <button @click='increasementWait'>偶数相乘</button>
    <hr>
    <button @click='add2'>加2</button>
    <button @click='sub2'>减2</button>
    <hr>
    <p>通过mapMutations传参</p>
    <button @click='add3(3)'>加3</button>
    <button @click='sub3(3)'>减3</button>
    <hr>
    <p>通过mapActions传参</p>
    <button @click='addOdd(5)'>奇数相加</button>
    <button @click='addWait(8)'>偶数相乘</button>
  </div>
</template>

<script> 
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  name: 'Count',
  data() {
    return {
      n: 0,
      count: 0,
    }
  },
  mounted() {
    // console.log('vc:', this);
  },
  computed: {
    ...mapState({sum: 'sum', location: 'location', subject: 'subject', personList: 'personList'}),
    ...mapGetters({bigSum: 'bigSum'})
  },
  methods: {
    increasement() {
      this.$store.dispatch('jia', this.n)
    },
    decreasement() {
      this.$store.dispatch('jian', this.n)
    },
    increasementOdd() {
      if(this.n % 2 !== 0) {
        this.$store.dispatch('odd', this.n)
      }
    },
    increasementWait() {
      setTimeout(() => {
        if(this.n % 2 === 0) {
          this.$store.dispatch('even', this.n)
        }
      }, 100);
    },
    // 越过action直接跟mutation对话
    add2() {
      this.$store.commit('ADD2', 2)
    },
    sub2() {
      this.$store.commit('SUB2', 2)
    },
    // 通过mapMutations传参
    ...mapMutations({add3: 'ADD3', sub3: 'SUB3'}),
    // 通过mapActions传参
    ...mapActions({addOdd: 'addOdd', addWait: 'addWait'})
  }
}
</script>

<style>

</style>