<template>
  <div>
    <p>人员列表信息</p>
    <p style='color: red'>Count1组件求和：{{ sum }}</p>
    <input type="text" placeholder="输入人员信息" v-model='name'>
    <button @click='addPerson'>添加</button>
    <ul>
      <li v-for="(person, index) in personList" :key='index'>
        {{ person.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { nanoid } from 'nanoid'
import { mapState } from 'vuex'
export default {
  name: 'Person',
  data() {
    return {
      name: '',
    }
  },
  computed: {
    ...mapState(['personList', 'sum'])
  },
  methods: {
    addPerson() {
      const personObj = {id: nanoid(), name: this.name}
      console.log('personObj:', personObj);
      this.$store.commit('ADD_PERSON', personObj)
      this.name = ''
    },
    // ...mutations(['JIA'])
  }
}
</script>

<style>

</style>