<template>
  <div id="app">
    <count1></count1>
    <hr>
    <hr>
    <person></person>
  </div>
</template>

<script>
import Count1 from './components/Count1.vue'
import Person from './components/Person.vue'
export default {
  name: 'App',
  components: {
    Count1,
    Person,
  },
  data() {
    return {
      
    }
  },
  methods: {
    
  },
  mounted() {
    
  }
}
</script>

<style>
  button {
    margin-right: 5px;
  }
</style>
