<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <button @click='changeWeather()'>改变天气</button>
    <div>今日天气: {{ todayWeather }}</div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        isHot: true,
      },
      computed: {
        todayWeather() {
          return this.isHot ? '炎热' : '凉爽'
        },
      },
      methods: {
        changeWeather() {
          this.isHot = !this.isHot
        }
      },
      watch: {
        isHot: {
          immediate: true, //初始化的时候执行一次
          handler(newValue, oldValue) {
            console.log('isHot改变了:', newValue, oldValue)
          }
        },
        isOk: {
          immediate: true, //初始化的时候执行一次
          handler(newValue, oldValue) {
            console.log('isOk没有改变:', newValue, oldValue)
          }
        },
      },
    })
    vm.$watch('isHot', {
      handler(newValue, oldValue) {
        console.log('isHot在外面改变了：', newValue, oldValue);
      }
    })
    vm.$watch('isOk', {
      handler(newValue, oldValue) {
        console.log('isOk在外面也没有改变：', newValue, oldValue);
      }
    })
  </script>
</body>
</html>