<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    姓：<input type="text" v-model='firstName'>
    <br>
    名：<input type="text" v-model='lastName'>
    <br>
    全名：<span>{{ fullName }}</span>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        firstName: 'zou',
        lastName: 'yue',
        fullName: 'zouyue'
      },
      watch: {
        firstName(newValue) {
          this.fullName = newValue + this.lastName
        },
        lastName(newValue) {
          this.fullName = this.firstName + newValue
        }
      }
    })
  </script>
</body>
</html>