<template>
  <div class='school'>
    <p>学校名称：{{ info.name }}</p>
    <p>学校年龄：{{ info.age }}</p>
    <slot></slot>
  </div>
</template>

<script>
import pubsub from 'pubsub-js'
export default {
  name: 'School',
  props: ['getSchoolAge'],
  data() {
    return {
      info: {
        name: 'xiaomi',
        age: 18,
      }
    }
  },
  methods: {
    show(a, b) {
      console.log('接收到来自Student组件的消息', a, b);
    }
  },
  mounted() {
    // this.getSchoolAge(this.info.age)
    // 使用发布订阅模式
    this.pubId = pubsub.subscribe('sendMsg', this.show)
  },
  beforeDestroy() {
    pubsub.unsubscribe(this.pubId)
  },
}
</script>

<style>
  .school {
    /* height: 60px; */
    background: green;
  }
</style>