<template>
  <div class='school'>
    <p>学校名称：{{ schoolName }}</p>
    <p>学校年龄：{{ schoolAge }}</p>
    <button @click='clickGetSchoolName'>点击获取校名</button>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'School',
  props: ['getSchoolName'],
  data() {
    return {
      schoolName: 'xiaomi',
      schoolAge: 18
    }
  },
  methods: {
    clickGetSchoolName() {
      this.getSchoolName(this.schoolName)
    }
  }
}
</script>

<style>
  .school {
    background: cyan;
  }
</style>