<template>
  <div class='student'>
    <p>学生姓名：{{ studentName }}</p>
    <p>学生年龄：{{ studengAge }}</p>
    <button @click='getSonStudentName'>点击获取学生姓名</button>
    <button @click='getSonStudentAge'>点击获取学生年龄</button>
    <button @click='unBind'>解绑</button>
  </div>
</template>

<script> 
export default {
  name: 'Student',
  data() {
    return {
      studentName: 'zhangsan',
      studengAge: 20
    }
  },
  methods: {
    getSonStudentName() {
      this.$emit('emitGetStudentName', this.studentName)
      this.$emit('emitDemo')
    },
    getSonStudentAge() {
      this.$emit('emitGetStudentAge', this.studengAge, this.studentName)
    },
    unBind() {
      this.$off(['emitDemo', 'emitGetStudentName'])
    }
  },
}
</script>

<style>
  .student {
    background: cornflowerblue;
  }
</style>