<template>
  <div id="app">
    <div>你好{{ msg }}，欢迎学习Vue</div>
    <!-- 方法1：通过props实现子传父 -->
    <school :getSchoolName='getSchoolName'></school>
    <!-- 方法2：通过自定义事件 -->
    <student @emitGetStudentName='getStudentName' @emitDemo='demo'></student>
    <!-- 方法3：使用$emit(eventName)触发事件，使用$on(eventName)监听事件 -->
    <student ref='studentRef' @click.native='show1'></student>
    <!-- 方法4：通过ref直接操作子组件 -->
    <school ref='schoolRef' @click='show2'>
      <button @click='doRef'>通过ref操作子组件</button>
    </school>

  </div>
</template>

<script>
import School from './components/School.vue'
import Student from './components/Student.vue'
export default {
  name: 'App',
  data() {
    return {
      msg: '',
    }
  },
  components: {
    School,
    Student,
  },
  methods: {
    getSchoolName(name) {
      console.log('获取学校名：', name);
    },
    getStudentName(name) {
      console.log('获取学生姓名：', name);
      this.msg = name
    },
    getStudentAge(...params) {
      console.log('获取学生年龄：', params[0], params[1]);
    },
    doRef() {
      let schoolAge = this.$refs.schoolRef.schoolAge
      console.log('schoolAge:', schoolAge);
    },
    demo() {
      console.log('demo被触发了');
    },
    show1() {
      alert('111111111')
    },
    show2() {
      this.$emit('click')
    }
  },
  mounted() {
    // 这种方式更加灵活
    setTimeout(() => {
      this.$refs.studentRef.$on('emitGetStudentAge', this.getStudentAge)
    }, 1000);
  }
}
</script>
  
<style>
  #app {
    background: darkgrey;
    text-align: center;
  }
</style>
