<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <div ref='msg'>{{ message }}</div>
    <div v-if='msg1'>Message got outside $nextTick: {{ msg1 }}</div>
    <div v-if='msg2'>Message got outside $nextTick: {{ msg2 }}</div>
    <div v-if='msg3'>Message got outside $nextTick: {{ msg3 }}</div>
    <button @click='changeMsg()'>点击显示</button>
    <div></div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          message: '原始数据',
          msg1: '',
          msg2: '',
          msg3: '',
        }
      },
      methods: {
        changeMsg() {
          this.message = '异步更新队列'
          this.msg1 = this.$refs.msg.innerHTML
          this.$nextTick(() => {
            this.msg2 = this.$refs.msg.innerHTML
          })
          this.msg3 = this.$refs.msg.innerHTML
        }
      }
    })

    // Vue.nextTick(function () {
    //   vm.$el.textContent === 'new message' // true
    // })
  </script>
</body>
</html>