<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    {{ message }}
    <br>
    {{ message1 }}
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          message1: '456',
          message: '123',
        }
      }
    })
    vm.message = 'new message'
    console.log('1', vm.$el.textContent)   //输出  'message'   直接获取时，此时DOM还未更新
    // Vue.nextTick(function (){
    //     console.log('2', vm.$el.textContent)  //输出  'new message'  使用该方法，会在 DOM 更新后才触发，获取到的是 DOM 更新后的数据
    // })
  </script>
</body>
</html>