<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    {{ message }}
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          message: 'origin data'
        }
      }
    })
    vm.message = 'new data'
    vm.$el.textContent = 'new data 1'
  </script>
</body>
</html>