<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='example'>
    原始数据：{{ message }}
    <button @click='changeText()'>修改数据</button>
  </div>
  <script>
    var vm = new Vue({
      el: '#example',
      data: {
        message: '123'
      },
      methods: {
        async changeText() {
          this.message = '已更新'
          console.log('this.message1:', vm.$el.textContent);
          await this.$nextTick(() => {
            console.log('this.message2:', vm.$el.textContent);
          })
        }
      }
    })
  </script>
</body>
</html>