<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <button @click='student.age++'>年龄加一</button>
    <button @click='addSex()'>添加性别</button>
    <button @click='addFriend()'>添加朋友</button>
    <h3>姓名: {{ student.name }}</h3>
    <h3>年龄: {{ student.age }}</h3>
    <h3 v-if='student.sex'>性别：{{ student.sex }}</h3>
    <button @click='addHobby()'>添加爱好</button>
    <button @click='updateHobby()'>更新爱好</button>
    <button @click='filterSmoke()'>过滤抽烟</button>
    <ul>
      <li v-for="(item, index) in student.hobby" :key='index'>
        {{ item }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          student: {
            name: 'zhansgan',
            age: 18,
            hobby: ['basketball', 'football', 'eating', 'smoke'],
            friend: [
              {name: 'lisi', age: 19},
              {name: 'wangwu', age: 20}
            ]
          }
        }
      },
      methods: {
        addSex() {
          this.$set(this.student, 'sex', 'male')
        },
        addFriend() {
          this.student.friend.unshift({
            name: 'zhaoliu',
            age: 21
          })
        },
        addHobby() {
          this.student.hobby.push('running')
        },
        updateHobby() {
          Vue.set(this.student.hobby, 0, 'jumping')
          this.student.hobby.splice(1, 1, 'playing')
          this.$set(this.student.hobby, 2, 'having')
        },
        filterSmoke() {
          this.student.hobby = this.student.hobby.filter((item) => {
            return item !== 'smoke'
          })
        }
      }
    })
  </script>
</body>
</html>