<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <ul>
      <li v-for="(item, index) in list" :key='index'>
        {{ item }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          list: [1, 2, 3, 4]
        }
      }
    })
  </script>
</body>
</html>