<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <button @click='changeTab'>切换天气</button>
    <p>今日天气{{ tabWeather }}</p>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        isHot: true,
      },
      computed: {
        tabWeather() {
          return this.isHot ? '炎热' : '凉爽'
        }
      },
      methods: {
        changeTab() {
          this.isHot = !this.isHot
        }
      }
    })
  </script>
</body>
</html>