<template>
  <div class='root'>
    <div class='left'>
      <div class='classification' v-for="(item, index) in itemsClassification" :key='index'>
        {{ item }}
      </div>
    </div>
    <div class='middle'>

    </div>
    <div class='right'>
      <div>{{ location }}</div>
      <div class='div'>
        <img class='weather-icon' :src='icon'/>
      </div>
      <div>{{ temperature }}°C</div>
      <div class='level'>
        <div class='level-text'>{{ level }}</div>
      </div>
      <button>设置</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  props: ['itemsClassification', 'location', 'icon', 'temperature', 'level'],
  data() {
    return {

    }
  },
  methods :{

  },
}
</script>

<style lang='scss'>
  .root {
    width: 100%;
    height: 60px;
    // background: chartreuse;
    display: flex;
    justify-content: space-around;
    line-height: 60px;
  }
  .left {
    display: flex;
    flex: 2;
    // background: blue;
    .classification {
      font-size: 10px;
      flex: 1;
      // background: crimson;
    }    
  }
  .middle {
    flex: 2;
    // background: cadetblue;
  }
  .right {
    display: flex;
    flex: 1.5;
    // background: cornflowerblue;
    .div {
      margin-right: -10px;
      .weather-icon {
        // vertical-align: middle;
        margin-left: 5px;
        margin-top: 15px;
        width: 60%;
        height: 50%;
      }
    }
    .level {
      margin-top: 17px;
      margin-left: 5px;
      width: 35px;
      height: 25px;
      background: #40c057;
      line-height: 60px;
      border-radius: 20px;
      &-text {
        text-align: center;
        // line-height: 60px;
        margin-top: -19px;
      }
    }
  }
</style>