<template>
  <div id="app">
    <category title='食物' >
      <ul>
        <li v-for="(list, index) in foods" :key='index'>
          {{ list }}
        </li>
      </ul>
    </category>
    <category title='游戏' >
      <img src="https://cdn.wwads.cn/creatives/lbkiutAX6ZbWqsYPG94MlwfgAwDL6SJKbWB1Tt2y.png" alt="">
    </category>
    <category title='电影' >
      <video controls src="https://www.runoob.com/try/demo_source/movie.mp4"></video>
    </category>
  </div>
</template>

<script>
import Category from './components/Category.vue'
export default {
  name: 'App',
  components: {
    Category,
  },
  data() {
    return {
      foods: ['火锅', '烧烤', '龙虾', '玉米'],
      games: ['游戏1', '游戏2', '游戏3', '游戏4'],
      films: ['电影1', '电影2', '电影3', '电影4'],
    }
  },
  methods: {
    
  },
  mounted() {
    
  }
}
</script>

<style>
  #app {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
  }

  img {
    width: 100%;
  }

  video {
    width: 100%;
  }
</style>
