<template>
  <div id="app">
    <!-- <p>{{ msg }}</p> -->
    <test></test>
    <hr>
    <test1></test1>
    <hr>
    <test2></test2>
    <hr>
    <test3></test3>
  </div>
</template>

<script>
import Test from './components/Test.vue'
import Test1 from './components/Test1.vue'
import Test2 from './components/Test2.vue'
import Test3 from './components/Test3.vue'
export default {
  name: 'App',
  components: {
    Test,
    Test1,
    Test2,
    Test3,
  },
  data() {
    return {
      
    }
  },
  methods: {
   
  },
  mounted() {
    
  }
}
</script>

<style>

</style>
