<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    {{ msg }}
    <school></school>
    <student></student>
    <hr>
    <school></school>
    <student></student>
  </div>
  <script>
    // 全局定义组件
    const school = Vue.extend({
      template: `
        <div>
          <div>学校名：{{ schoolName }}</div> 
          <div>学校年龄：{{ schoolAge }}</div> 
        </div>
      `,
      data() {
        return {
          schoolName: 'xiaomi',
          schoolAge: 20,
        }
      }
    })

    const student = Vue.extend({
      template: `
        <div>
          <div>人名：{{ studentName }}</div> 
          <div>人年龄：{{ studentAge }}</div> 
        </div>
      `,
      data() {
        return {
          studentName: 'zhangsan',
          studentAge: '18'
        }
      }
    })

    const vm = new Vue({
      el: '#app',
      data() {
        return {
          msg: 'vue'
        }
      },
      // 注册组件
      components: {
        school,
        student,
      }
    })
  </script>
</body>
</html>