<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <school></school>
  </div>
  <script>
    Vue.prototype.x = 100
    const school = Vue.extend({
      template: `
        <div>
          <div>school的name: {{ schoolName }}</div>
          <div>school的age: {{ schoolAge }}</div>
          <button @click='showX'>点击输出x</button>
        </div>
      `,
      data() {
        return {
          schoolName: 'schoolName',
          schoolAge: 'schoolAge',
        }
      },
      methods: {
        showX() {
          console.log('this:', this);
          console.log('showX:', this.x);
        }
      },
    })
    const vm = new Vue({
      el: '#app',
      components: {
        school
      },
      data() {
        return {
          
        }
      }
    })
  </script>
</body>
</html>