<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <app></app>
  </div>
  <script>
    const child1 = Vue.extend({
      template: `
        <div>
          <div>child1的name:{{ child1Name }}</div>  
          <div>child1的age:{{ child1Age }}</div>  
        </div>
      `,
      data() {
        return {
          child1Name: 'child1Name',
          child1Age: 'child1Age',
        }
      }
    })
    const parent1 = Vue.extend({
      template: `
        <div>
          <div>parent1的name:{{ parent1Name }}</div>  
          <div>parent1的age:{{ parent1Age }}</div>
          <child1></child1>  
        </div>
      `,
      data() {
        return {
          parent1Name: 'parent1Name',
          parent1Age: 'parent1Age',
        }
      },
      components: {
        child1
      }
    })
    const parent2 = Vue.extend({
      template: `
        <div>
          <div>parent2的name:{{ parent2Name }}</div>  
          <div>parent2的age:{{ parent2Age }}</div>  
        </div>
      `,
      data() {
        return {
          parent2Name: 'parent2Name',
          parent2Age: 'parent2Age',
        }
      }
    })
    const app = Vue.extend({
      template: `
        <div>
          <parent1></parent1>
          <parent2></parent2>  
        </div>
      `,
      components: {
        parent1,
        parent2,
      }
    })
    const vm = new Vue({
      el: '#app',
      components: {
        app
      },
      data() {
        return {

        }
      }
    })
  </script>
</body>
</html>