<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app' :x='n'>
    <button @click='add'>点击+1</button>
    <button @click='destroy'>点击销毁</button>
    <h2>{{ n }}</h2>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      // template: `
      //   <div>
      //     <button @click='add'>点击+1</button>
      //     <h2>{{ n }}</h2>  
      //   </div>
      // `,
      data() {
        return {
          n: 1,
        }
      },
      methods: {
        add() {
          console.log('add');
          this.n++
        },
        destroy() {
          console.log('destroy');
          this.$destroy()
        }
      },
      beforeCreate() {
        console.log('beforeCreate');
        // console.log('this:', this);
        // debugger
      },
      created() {
        console.log('created');
        // console.log('this:', this);
        // debugger
      },
      beforeMount() {
        console.log('beforeMount');
        // console.log('this:', this);
        // debugger
        // 对DOM的操作最终都不奏效
        // document.querySelector('h2').innerHTML = '12'
        // debugger
      },
      mounted() {
        console.log('mounted');
        // console.log('this:', this);
        // debugger
        // document.querySelector('h2').innerText = '12'
      },
      // 页面和数据还没有保持一致，数据更改了，页面还没来得及更新
      beforeUpdate() {
        console.log('beforeUpdate');
        this.n = 100
        // console.log('this:', this);
        // debugger
      },
      updated() {
        console.log('updated');
        // this.n = 100
        // console.log('this:', this);
        // debugger
      },
      beforeDestroy() {
        console.log('beforeDestroy');
        this.add()
      },
      destroyed() {
        console.log('destroyed');
      },
    })
  </script>
</body>
</html>